.main {
    background: #1a5bbc;
    padding-top: 30px;
    padding-bottom: 360px;
    font-family: 'Courier New', monospace;
}

.header {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: left;
    color: white;
    font-size: 30px;
}
li.a {
    list-style-type: square;
    color: white;
}
.taskremaining {
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.errorHeader {
    color: red;
    font-size: 15px;
}